<!-- Button trigger modal -->
<span>
<button type="info" class="btn rounded-circle btn-sm p-0 m-0" style="border: none; line-height: 0; height: 16px; width: 16px;" data-bs-toggle="modal" data-bs-target="#{{ name }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"fill="#24a0ed" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>  
</button>
</span>
<!-- Modal -->
<div class="modal fade" id="{{ name }}" tabindex="-1" aria-labelledby="{{ name }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<h5 class="modal-title" id="{{ name }}Label">Help: {{ help_title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <p> -->
        {{ content|safe }}
        <!-- </p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<script>
  var myModal = document.getElementById('{{ name }}')
  var myInput = document.getElementById('{{ name }}')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>
