{% extends "layout.html" %}
{% block body %}
<h2 class="p-2 text-left display-5">Departments ({{ department_count }})</h2>
<table class="table table-striped table-hover">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Participation</th>
        <th scope="col">Chair</th>
    </tr>
    {% for department in departments %}
    <tr>
        <td>
            <a href="{{ url_for('department', department_slug=department.slug) }}">
                {% if department.alias %}
                <b>{{ department.alias }}</b> ({{ department.name }})
                {% else %}
                <b>{{ department.name }}</b>
                {% endif %}
                ({{ department.worker_count }})
            </a>
        </td>
	<td>
          {% set percentage = ( department.participation / department.worker_count * 100) | round(2) %}
          <meter low="50" high="80" max="100" optimum="100" value="{{ percentage }}"></meter>
	</td>
        <td>{{ department.chair | join(', ', attribute="email") }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
