{% extends "layout.html" %}
{% block body %}
<h2 class="p-2 text-left display-5">Structure Tests</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<a href="{{ url_for("structure_test") }}">
					<h5 class="card-title">Add Structure Test</h5>
				</a>
			</div>
		</div>
	</div>
	<table class="table table-striped table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Active</th>
			<th>Added</th>
			<th>Participation</th>
		</tr>
		{% for structure_test in structure_tests %}
		<tr>
			<td>
				<a href="{{ url_for('structure_test', structure_test_id=structure_test.id) }}">
					{{ structure_test.name }}
				</a>
			</td>
			<td>{{ structure_test.description}}</td>
			<td>{{ structure_test.active }}</td>
			<td>{{ structure_test.added }}</td>
			<td>
				{% set percentage = (structure_test.participation / worker_count * 100) | round(2) %}
				<meter low="50" high="80" max="100" optimum="100" value="{{ percentage }}"></meter>
				{{ structure_test.participation }} ({{ percentage }}%)
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endblock %}
