{% extends "layout.html" %}
{% block body %}
<h2 class="p-2 text-left display-5">Units ({{ units | length }})</h2>
<table class="table table-striped table-hover">
    <tr>
        <th scope="col" class="col-7">Name</th>
        <th scope="col" class="col-1">Members</th>
	<th scope="col" class="col-1">{{ latest_test_name }}</th>
        <th scope="col">Chair(s)</th>
    </tr>
    {% for unit in units %}
    <tr>
        <td>
            <a href="">
                <b>{{ unit.name }}</b> ({{ unit.worker_count }})
            </a>
        </td>
        <td>
            {% if unit.worker_count > 0 %}
            {% set percentage = (unit.members / unit.worker_count * 100) | round(2) %}
            {% endif %}
            <meter style="height: 25px;" low="50" high="80" max="100" optimum="100" value="{{ percentage }}"></meter>
        </td>
        <td>
            {% if unit.worker_count > 0 %}
            {% set percentage = ( unit.latest / unit.worker_count * 100) | round(2) %}
            {% endif %}
            <meter style="height: 25px;" low="50" high="80" max="100" optimum="100" value="{{ percentage }}"></meter>
        </td>
        <td>

		{% for chair in unit.chairs %}
		<a href="{{ url_for("worker", worker_id=chair.id) }}">{{ chair.name }}</a>
		{% endfor %}
		
	</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
