{% extends "layout.html" %}
{% block body %}
<h2 class="p-2 text-left display-5">Users</h2>
<p>
    Create units.
</p>
<h3>
    Existing units
</h3>
<ul>
    {% for unit in units %}
    <li>{{ unit.name }}</li>
    {% if unit.departments %}
    <ul>
        {% for department in unit.departments %}
        <li><a href="{{ url_for("department", department_slug=department.slug) }}">
                {% if department.alias %}
                <b>{{ department.alias }}</b> ({{ department.name }})
                {% else %}
                <b>{{ department.name }}</b>
                {% endif %}
                <a />
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    </li>
    {% endfor %}
</ul>

<h3>
    Create new unit
</h3>
<form action="{{ url_for("units") }}" method=post>
    <label for="name">Name</label>
    <input name="name" type="text" value="" />
    <input type="submit" value="Create unit" />
</form>

{% endblock %}
