{% extends "layout.html" %}
{% block body %}
<h2>Create</h2>
<form action="/workers/edit/{{ worker.id }}" method=post>
	<h3>
	Worker
	{%- if worker.preferred_name %}
	{{ worker.preferred_name }} ({{ worker.name }})
	{% else %}
	{{ worker.name }}
	{% endif %}
	</h3>
	<p>
	<p>Added since {{ worker.added }}, last known contract from {{ worker.updated }}<p>
	<p>
	<label for="preferred_name">Preferred name</label>
	<input name="preferred_name" type="text" value="{{ worker.preferred_name or "" }}" placeholder="{{ worker.name }}" />
	</p>
	<p>
	<label for="pronouns">Pronouns</label>
	<input name="pronouns" type="text" value="{{ worker.pronouns or ""}}" placeholder="gender is a spectrum" />
	</p>
	<label for="email">E-Mail</label>
	<input name="email" type="text" value="{{ worker.email or "" }}" placeholder="worker@email.com" />
	</p>
	<p>
	<label for="phone">Phone (only numbers)</label>
	<input name="phone" type="text" value="{{ worker.phone or ""}}" placeholder="18081234567" />
	</p>
	<p>
	<label for="dept">Department</label>
	<input name="dept" type="text"
		value="{{ Department.get_by_id(worker.department_id).name }}" disabled />
	</p>
	<p>
	<label for="organizing_dept">Organizing department</label>
	<select name="organizing_dept">
		{% for department in Department.select().order_by(Department.name) %}
		<option
			value="{{ department.id }}"
			{%- if worker.organizing_dept_id == department.id %}
			selected="selected"
			{% endif %}
			>
			{{ department.name }}
		</option>
		{% endfor %}
	</select>
	</p>
	<p>
	<label for="notes">Notes</label>
	<textarea name="notes">{{ worker.notes or "" }}</textarea>
	</p>
	<p>
	<label for="active">Active (uncheck if worker graduated or is otherwise not currently associated with the university)</label>
	<input name="active" type="checkbox" value=True {{'checked="checked"' if worker.active }}/>
	</p>
	<input type="submit" value="Update data" />
</form>
{% endblock %}
