{% extends "layout.html" %}
{% block body %}
<h2>Workers {% if department %} in {{ department.name }} {% endif %}({{ worker_count }})</h2>
{% if session.department_id == 0 %}
<select name="department" onchange="setDepartmentCollege(this);">
	<option value="">None</option>
	{%- for college in colleges %}
	<option value="{{ college.id }}"
		{% if department.college.id == college.id %}selected="selected"{% endif %}
		>
	{{- college.name -}}
	</option>
	{%- endfor %}
</select>
{% endif %}
<p>
Chair: {{ department.chair | join(', ', attribute="email") or "None" }}
</p>
<script>
	function toggleParticipation(element) {
			fetch("/participation/" +
					element.dataset.worker + "/" +
					element.dataset.structure_test + "/" +
					(element.checked ? 1 : 0))
				.then(response => console.log(response));
		}
	function setDepartmentCollege(element) {
			console.log(element)
			fetch("/set-department-college/" + element.value + "/{{ department.id }}")
				.then(response => console.log(response));

		}
</script>
<table>
	<tr>
		<th>Name</th>
		<th>Unit</th>
		<th>Contract</th>
		<th>E-Mail</th>
		<th>Phone</th>
		{% for structure_test in structure_test_list %}
		<th><abbr title="{{ structure_test.description }}">{{ structure_test.name }}</abbr></th>
		{% endfor %}

	</tr>
	{% for _, worker_list in worker_list | groupby("id") %}
	{% set worker = worker_list[0] %}
	{% set participation = [] %}
	{% for participated in worker_list %}
	{% if participated.participation %}
	{{ participation.append(participated.participation.structure_test_id) or "" }}
	{% endif %}
	{% endfor %}
	<tr {% if worker.updated != last_updated %}class="worker-inactive"{% endif %}>
		<td>
			<a href="/workers/edit/{{ worker.id }}">
				{{ worker.name }}
			</a>
		</td>
		<td>{{ worker.unit }}</td>
		<td>{{ worker.contract }}</td>
		<td>{% if worker.email %}<a href="mailto:{{ worker.email }}">{{ worker.email }}</a>{% else %}Unknown{% endif %}</td>
		<td>{{ worker.phone or "Unknown" }}</td>
		{% for structure_test in structure_test_list %}
		<th>
			<input
				type="checkbox"
				data-worker="{{ worker.id }}"
				data-structure_test="{{ structure_test.id }}"
				name="{{ structure_test.name }}"
				onchange="toggleParticipation(this);"
				{% if structure_test.id in participation %}checked{% endif %}
				>
		</th>
			{% endfor %}
	</tr>
	{% endfor %}
</table>
{% include "includes/pagination.html" %}
{% endblock %}
