{% extends "layout.html" %}
{% block body %}
<h2 class="p-2 text-left display-5">Create</h2>
	<h3>
	Worker
	{%- if worker.preferred_name %}
	{{ worker.preferred_name }} ({{ worker.name }})
	{% else %}
	{{ worker.name }}
	{% endif %}
	</h3>
	<p>Added since {{ worker.added }}, last known contract from {{ worker.updated }}</p>
<form action="/workers/edit/{{ worker.id }}" method=post>

	<div class="mb-3">
	<label for="preferred_name">Preferred name</label>
	<input name="preferred_name" type="text" value="{{ worker.preferred_name or "" }}" placeholder="{{ worker.name }}" />
</div>
<div class="mb-3">
	
	<label for="pronouns">Pronouns</label>
	<input name="pronouns" type="text" value="{{ worker.pronouns or ""}}" placeholder="gender is a spectrum" />
</div>
<div class="mb-3">

	<label for="email">E-Mail</label>
	<input name="email" type="text" value="{{ worker.email or "" }}" placeholder="worker@email.com" />
</div>
<div class="mb-3">
	<label for="phone">Phone (only numbers)</label>
	<input name="phone" type="text" value="{{ worker.phone or ""}}" placeholder="18081234567" />
</div>
<div class="mb-3">
	<label for="dept">Department</label>
	<input name="dept" type="text"
		value="{{ Department.get_by_id(worker.department_id).name }}" disabled />
	{% if session.department_id == 0 %}
</div>
<div class="mb-3">
	<label for="organizing_dept">Organizing department</label>
	<select name="organizing_dept">
		{% for department in Department.select().order_by(Department.name) %}
		<option
			value="{{ department.id }}"
			{%- if worker.organizing_dept_id == department.id %}
			selected="selected"
			{% endif %}
			>
			{{ department.name }}
		</option>
		{% endfor %}
	</select>
	{% endif %}
</div>
<div class="mb-3">
	<label for="notes">Notes</label>
	<textarea name="notes">{{ worker.notes or "" }}</textarea>
</div>
<div class="mb-3">
	<label for="active">Active</label>
	<input name="active" type="checkbox" value=True {{'checked="checked"' if worker.active }}/>
	<div id="emailHelp" class="form-text">Uncheck if worker graduated or is otherwise not currently associated with the university.</div>
</div>
<div class="mb-3">
	<button type="submit" class="btn btn-primary" value="Update data">Submit Changes</button>
</div>

</form>
{% endblock %}
